apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: etcd-pvc
  namespace: infra-system
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 2Gi
  storageClassName: local-pv

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: etcd
  namespace: infra-system
spec:
  replicas: 1
  selector:
    matchLabels:
      app: etcd
  template:
    metadata:
      labels:
        app: etcd
    spec:
      nodeSelector:
        skies/node-role: app
      containers:
        - name: etcd
          image: bitnami/etcd:3.5
          imagePullPolicy: IfNotPresent
          env:
            - name: ALLOW_NONE_AUTHENTICATION
              value: "yes"
            - name: ETCD_LISTEN_CLIENT_URLS
              value: "http://0.0.0.0:2379"
            - name: ETCD_ADVERTISE_CLIENT_URLS
              value: "http://etcd.infra-system.svc.cluster.local:2379"
          ports:
            - name: client
              containerPort: 2379
          volumeMounts:
            - name: etcd-data
              mountPath: /bitnami/etcd
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 250m
              memory: 256Mi
      volumes:
        - name: etcd-data
          persistentVolumeClaim:
            claimName: etcd-pvc

---
apiVersion: v1
kind: Service
metadata:
  name: etcd
  namespace: infra-system
spec:
  selector:
    app: etcd
  ports:
    - name: client
      port: 2379
      targetPort: 2379
  type: ClusterIP
