config/
*.sh
*.yml
!legacy/**/*
!sgp/**/*.yaml
!sgp/**/*.yml
!nrt/**/*.yml
!nrt/**/*.yaml
!services/**/*.yml
!services-old/*.yml
!services-old/**/*.yml
legacy/config/ssh
nrt/manifests/notes.md
*.DS_Store